<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <context:component-scan base-package="com.springtest.ioc_and_di.ann"/>

   <bean id="dataSource"
         class="org.apache.commons.dbcp.BasicDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      <property name="url" value="jdbc:mysql:///test" />
      <property name="username" value="root" />
      <property name="password" value="root" />
      <property name="connectionProperties" value="useUnicode=true;characterEncoding=utf8"/>
   </bean>

   <bean id="userDao2" class="com.springtest.jdbc.UserDaoImpl">

      <property name="dataSource" ref="dataSource"/>

   </bean>


   <bean id="userDao" class="com.springtest.ioc_and_di.UserDao"/>
   <bean id="userService" class="com.springtest.ioc_and_di.UserService">
      <property name="userDao" ref="userDao"/>
   </bean>
   <bean id="userAction" class="com.springtest.ioc_and_di.UserAction">
      <property name="userService" ref="userService"/>
   </bean>

   <bean id="audience" class="com.springtest.aop.Audience"/>
   <bean id="drama" class="com.springtest.aop.Drama"/>

   <aop:config>
      <aop:aspect ref="audience">
         <aop:pointcut id="performance"
                       expression="execution(* com.springtest.aop.Performer.*(..))"/>
         <aop:before pointcut-ref="performance" method="takeSeats"/>
         <aop:before pointcut-ref="performance" method="turnOffCellPhones"/>
         <aop:after-returning pointcut-ref="performance" method="applaud"/>
         <aop:after-throwing pointcut-ref="performance" method="demandRefund"/>
      </aop:aspect>
   </aop:config>
</beans>